.calculator {
  display: flex;
  flex-direction: column;

  gap: 30px;

  border: 2px solid black;
  border-radius: 30px;
  width: fit-content;

  padding: 30px;

  &__container {
    display: flex;
    flex-direction: row;

    gap: 10px;
  }

  &__input {
    font-size: 16px;
    font-weight: bold;

    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }

  &__select {
    outline: none;
    font-size: 16px;
    font-weight: bold;
    width: 50px;
  }

  &__result {
    font-size: 21px;

    span {
      font-weight: bold;
    }
  }

  &__modif {
    outline: none;
    font-size: 16px;
    font-weight: bold;
    width: 50px;
  }

  &__history{
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-title{
      font-weight: bold;
      font-size: 16px;
    }
  }

  &__btn {
    outline: none;
    width: fit-content;
    height: 70px;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;

    &:hover {
      background-color: red;
      color: white;
    }

    &:active {
      transform: scale(1.05);
    }
  }
}
