.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  background-color: #1f2937; 
  padding: 30px 20px;
  border-radius: 10px;
  margin-left: -40px;
}

.navbar li a {
  color: #f9fafb;             
  text-decoration: none;       
  font-weight: 500;
  padding: 8px 12px;
  position: relative;
  transition: color 0.3s ease;
}


.navbar li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #3b82f6;  
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;                 
}

.navbar li a:hover {
  color: #ffffff;             
}
